#libft ignore
libft/obj/
libft/libft.a

#project ignore
obj/

#add project file
pipex
pipex_dev
pipex_tests
infile
infile-extra-thicc
outfile
unreadable
outbash
outhey
output

#testers
pipexMedic/
run/
